@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: radial-gradient( circle farthest-corner at 10% 20%,  rgba(0,84,166,1) 0%, rgba(132,189,201,1) 90% );
  overflow: hidden;
  min-height: 100vh;
  font-family: 'Poppins', sans-serif;
}

.container {
  background-color: #fff;
  border: 2px solid black;
  width: 600px;
  max-width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  border-radius: 10px;
  padding: 50px 70px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
}

.container h2 {
    font-weight: 500;
    margin: 0 0 10px;
    font-size: 1.6rem;
    opacity: 0.8;
}

.container p {
    letter-spacing: 0.5px;
    line-height: 24px;
    font-weight: 400;
    margin: 5px 0 10px;
    font-size: 1.1rem;
    opacity: 0.7;
}

.container form {
  width: 450px;
  max-width: 100%;
}

.wrapper {
  position: relative;
  height: 45px;
  margin: 10px 0;
  width: 100%;
}

.wrapper-textarea {
    height: 80px;
}

.container input, .container textarea {
  border: none;
  padding: 13px;
  border-radius: 4px;
  position: absolute;
  font-size: 500;
  left: 0;
  top: 0;
  font-size: 17px;
  height: 100%;
  width: 100%;
  display: block;
  z-index: 10;
  font-family: 'Poppins', sans-serif;;
  outline-color: rgb(11, 98, 185);
}

.container .gradient-bg {
    border-radius: 4px;
    background-color: #999;
    position: absolute;
    top: -1px;
    left: -1px;
    width: calc(100% + 2px);
    height: calc(100% + 2px);
    z-index: 9;
}

.container button {
    font-weight: 500;
    width: 100%;
    color: #fff;
    font-size: 1.2rem;
    border: none;
    display: block;
    padding: 12px;
    border-radius: 4px;
    cursor: pointer;
    background-color: rgba(0, 83, 166, 0.882);
}


/* responsive design : -  */

@media screen and (max-width:748px){

  .container {
    width: 350px;
    padding: 30px 40px;
  }
  
  .container h2 {
      margin: 0 0 10px;
      font-size: 1.6rem;
  }
  
  .container p {
      line-height: 20px;
      margin: 5px 0 10px;
      font-size: 1rem;
  }

  .wrapper-textarea {
    height: 90px;
}

}
